.cursor-pointer {
	cursor: pointer;
}

// Flex Styles
.app-flex {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.align-items-baseline {
	align-items: baseline;
}

.justify-content-center {
	justify-content: center;
}

::-webkit-scrollbar {
    width: 7px;
	border-top-left-radius: 10px; /* Top-left radius of the scrollbar */
  border-top-right-radius: 10px; /* Top-right radius of the scrollbar */
  border-bottom-left-radius: 10px; /* Bottom-left radius of the scrollbar */
  border-bottom-right-radius: 10px; 
	 }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D9D9D9;
	border-radius: 10px; /* Color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #D9D9D9; /* Color of the scrollbar handle on hover */
  }

  .container-card{
    background-color: #161717;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 5px transparent;
    border-radius: 2.5rem;
    padding: 0.75rem 1rem;
  }
.w-50{
    width:50%;
}
.w-10{
    width: 10%;
}

body{
 
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}

.data-card-heading{
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  margin: 1rem;
  font-family: 'Courier Prime';
}
// Margins & Paddings
.p-0 {
	padding: 0 !important;
}

.pl-2 {
	padding-left: 1.5rem !important;
}

.pb-1 {
	padding-bottom: 1rem !important;
}

.mb-2 {
	margin-bottom: 1.5rem !important;
}

.mt-1 {
	margin-top: 0.5 !important;
}

.mt-3 {
	margin-top: 2rem !important;
}

.mt-5 {
	margin-top: 4rem !important;
}

// Grouped Buttons
.grouped-button {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

// Card Styles
.gradient-card {
	border-radius: 25px;
	background: rgb(0, 0, 0);
	padding: 1.5rem;
	background: linear-gradient(
		130deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(36, 36, 36, 1) 42%,
		rgba(146, 146, 146, 1) 100%
	);
}
